html,
body,
header,
footer,
main,
nav,
ul,
#main-disclamer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 2rem;
}

.main-p{
  font-style: italic;
}

body {
  font-family: var(--default-font);
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}
header {
  background-color: var(--header-background-color);
  color: var(--secondary-font-color);
  height: min-content;
}
footer{
  background-color: var(--logotype-background-color);
}
.logo-wrapper {
  background-color: var(--logotype-background-color);
  color: var(--logotype-color);
}

#main-disclamer {
  background-color: var(--headline-bg-color-alert);
  color: #FFFAE2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-top: 2rem;
}
#main-disclamer-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}
.logoeye{
  max-width: 70%;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

#instruks {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--headline-bg-color-alert);
  padding: 0;
}
#instruks h1{
  grid-column: 2;
  padding: 1em;
}
#instruks .logoeye{
  max-width: 40%;
  padding-top: 2rem;
  padding-left: 4rem;
}

#tilbud{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: span 2;
  background-color: var(--headline-bg-color-alert);
}
#tilbud h1{
  grid-column: 2;
  padding: 1em;
}

#tilbud .logoeye{
  max-width: 40%;
  padding-top: 2rem;
  padding-left: 4rem;
}

main section {
  padding: 20px;
  /* margin: 10px; */
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
}
h1 {
  font-size: var(--headline1-size);
  font-weight: bold;
  color: var(--headline-color-inverted);
  margin: 5px 0;
  line-height: 3rem;
  text-align: left;
  margin-top: 0;
}
h2 {
  font-size: var(--headline2-size);
}
h3 {
  font-size: var(--headline3-size);
}

.instruks{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.register{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    grid-column: 2;
}
.risiko,
.ouija{
  font-size: small;
  font-style: italic;
}
#form-info h2{
  background-color: var(--headline-bg-color-inverted);
  color: #FFFAE2;
  padding: 1rem;
}
#form-info p{
  margin: 1em;
  font-style: italic;
}
label{
  font-weight: bold;
}

main > h1 {
  background-color: var(--headline-bg-color-alert);
  color: var(--headline-color-inverted);
  line-height: 4rem;
  padding: 5px 3rem 0 3rem;
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
}
nav ul {
  list-style: none;
}
nav a {
  font-family: var(--link-font);
  text-decoration: none;
  color: var(--link-color);
}
a {
  font-family: var(--link-font);
}
#logotype-wrapper {
/*   background-color: var(--logotype-background-color); */
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1rem;
}
#logotype-wrapper > a {
  font-size: var(--logotype-size);
  color: var(--logotype-color);
  font-family: var(--logotype-font);
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
header nav li a {
  margin: 1.5rem;
  background-color: #FFFAE2;
  color: #000000;
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: 15px;
}
header > nav li > a:after {
  content: " \2192";
}
nav a:hover {
  color: var(--hover-color);
}
nav a:active {
  color: var(--active-color);
}

/* DARK MODE */

.darkBtn{
  opacity: 0;
  width: 0;
  height: 0;
}

span{
  border-radius: 34px;
  background-color: #FFFAE2;
  width: 52px;
}

.switch{
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider::before{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: #6F90EB;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + .slider::before{
  translate: 100% 0;
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}
.yellow,
.green {
  padding: 1.5rem 1rem 1rem 1rem;
}
.yellow {
  background-color: var(--info-bg-color-yellow);
  padding: 2rem;
}
.green {
  background-color: var(--info-bg-color-green);
}
